<div class="container">
  <div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <h2 class="panel-title">Login</h2>
        </div>
        <div class="panel-body">
          <form (ngSubmit)="login()">
            <div class="form-group">
              <label for="globalId">Global ID</label>
              <input type="text" id="globalId" [(ngModel)]="globalId" name="globalId" 
                     class="form-control input-lg" placeholder="Enter Global ID" required>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" [(ngModel)]="password" name="password" 
                     class="form-control input-lg" placeholder="Enter Password" required>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="loading">
              {{ loading ? 'Logging in...' : 'Login' }}
            </button>
            <p *ngIf="error" class="text-danger text-center" style="margin-top: 10px;">
              {{ error }}
            </p>
          </form>
        </div>
      </div>
    </div>
    <div class="col-xs-4"></div>
  </div>
</div>
